/* ---------------------------------------------- */
/* Icon Font                                      */
/* ---------------------------------------------- */
@font-face {
  font-family: "iconfont";
  src: url("../assets/iconfont/fonts/iconfont.eot?xd5ku1");
  src: url("../assets/iconfont/fonts/iconfont.eot?xd5ku1#iefix")
      format("embedded-opentype"),
    url("../assets/iconfont/fonts/iconfont.ttf?xd5ku1") format("truetype"),
    url("../assets/iconfont/fonts/iconfont.woff?xd5ku1") format("woff"),
    url("../assets/iconfont/fonts/iconfont.svg?xd5ku1#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "iconfont" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-appliances:before {
  content: "\e901";
}
.ic-baby:before {
  content: "\e902";
}
.ic-beauty:before {
  content: "\e903";
}
.ic-book:before {
  content: "\e904";
}
.ic-car:before {
  content: "\e905";
}
.ic-clothes:before {
  content: "\e906";
}
.ic-foods:before {
  content: "\e907";
}
.ic-houseware:before {
  content: "\e908";
}
.ic-interior:before {
  content: "\e909";
}
.ic-kitchenware:before {
  content: "\e90a";
}
.ic-pet:before {
  content: "\e90b";
}
.ic-sports:before {
  content: "\e90c";
}
.ic-stationery:before {
  content: "\e90d";
}
.ic-theme:before {
  content: "\e90e";
}
.ic-toy:before {
  content: "\e90f";
}
.ic-travel:before {
  content: "\e910";
}
.ic-clothes1:before {
  content: "\e900";
}
