/* Theme */
:root{
  --color-back: #181818;
  --color-white: #FFFFFF;
  --color-gray-100: #F3F3F3;
  --color-gray-200: #E7E7E7;
  --color-gray-300: #DCDCDC;
  --color-gray-400: #D0D0D0;
  --color-gray-500: #C4C4C4;
  --color-gray-600: #AAA9A9;
  --color-gray-700: #767676;
  --color-gray-800: #4E4E4E;
  --color-gray-900: #272727;
  --color-blue-100: #CCEAFA;
  --color-blue-200: #65CDE3;
  --color-blue-300: #61BFE6;
  --color-blue-400: #33ABE9;
  --color-blue-500: #0096E4;
  --color-blue-600: #0074E9;
  --color-blue-700: #005A89;
  --color-blue-800: #003C5B;
  --color-blue-900: #001E2E;
  --color-opacity-20: rgba(0,0,0,0.2);
  --color-red-100: #FAD3D6;
  --color-red-200: #F5A7AC;
  --color-red-300: #EF7B83;
  --color-red-400: #EA4F59;
  --color-red-500: #E52330;
  --color-red-600: #B71C26;
  --color-red-700: #89151D;
  --color-red-800: #5C0E13;
  --color-red-900: #2E070A;
  --color-yellow-100: #FEF2D9;
  --color-yellow-200: #FDE4B4;
  --color-yellow-300: #FDD78E;
  --color-yellow-400: #FCC969;
  --color-yellow-500: #FBBC43;
  --color-yellow-600: #FF9B05;
  --color-yellow-700: #977128;
  --color-yellow-800: #644B1B;
  --color-yellow-900: #32260D;
  --color-green-100: #F4F5D2;
  --color-green-200: #E9EBA5;
  --color-green-300: #DDE177;
  --color-green-400: #D2D74A;
  --color-green-500: #C7CD1D;
  --color-green-600: #9FA417;
  --color-green-700: #00B599;
  --color-green-800: #50520C;
  --color-green-900: #282906;
  --color-brown-100: #DFD5D4;
  --color-brown-200: #BFABA9;
  --color-brown-300: #9D7A6D;
  --color-brown-400: #7E5852;
  --color-brown-500: #5E2E27;
  --color-brown-600: #4B251F;
  --color-brown-700: #381C17;
  --color-brown-800: #261210;
  --color-brown-900: #130908;
  --color-purple-100: #DFD8F2;
  --color-purple-200: #BEB0E6;
  --color-purple-300: #9E89D9;
  --color-purple-400: #7D61CD;
  --color-purple-500: #5D3AC0;
  --color-purple-600: #4A2E9A;
  --color-purple-700: #382373;
  --color-purple-800: #25174D;
  --color-purple-900: #130C26;

  --base-size: 10px;
  --font-family: 'Noto Sans KR', sans-serif;
}

html{
  font-size: var(--base-size);
}

body{
  color: var(--color-black);
  background: var(--color-white);
}